@import '../../styles/_colorSass'

.filterLink
    color:$ramaWhite
    text-decoration: none

ul
    display: flex
    flex-flow: row
    // gap: 8px
    text-decoration: none
    border: none
    li
        margin: 10px
        padding: 
            left: -10px
            right: 25px
        :hover
            background: 
                color: #a41010
            padding: 5px
            border: 
                radius: 8px 

.filtrosRow
    display: flex
    flex-flow: row 
    align-items: center
    justify-content: space-evenly
    padding:
        bottom: 10px


